<%provide(:seccion, "Creacion de páginas")%>
<h1>Esitar páginas</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @pagina, :class => 'btn btn-sample' %>
<%= link_to 'Volver', paginas_path, :class => 'btn btn-sample' %>
