<%provide(:seccion, "usuarios")%>
<h1>Editar usuarios</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', user_path, :class => 'btn btn-sample' %>
<%= link_to 'Volver', users_path, :class => 'btn btn-sample' %>
