@import "bootstrap-sprockets";
@import "bootstrap";

/* typographi */

h1, h2{
	text-align: center;
}
h1 {
	font-size: 2.1em;
}
h2 {
	font-size: 1.8em;
}

/* Navegation */

.navbar{
	background-color: #A20A0A;
}
/* head */
.header{ 
	text-align: right;
	li{	
		display: inline-block;
	}
}

.navbar{
	padding-top: 10px;
	padding-right: 10px;
}

/* body */
body {
	overflow-y:hidden;
	overflow-x:hidden;
	background-image: url("images7.jpg");
}
.container{
	position: absolute; /* podría ser relative */ 
	width: 80%; 
	height: 500px;
	left: 10%;
	
	overflow-y:auto;overflow-x:hidden;
	text-overflow: ellipsis;

	background-image: url("images1.jpg");
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	box-shadow: -6px 6px 7px #999;
	-webkit-box-shadow: -6px 6px 7px #999;
  	-moz-box-shadow: -6px 6px 7px #999;
  	-o-box-shadow: -6px 6px 7px #999;
	li{	
		display: inline-block;
	}
}
/* footer*/

.footer{
	text-align: right;
	position: absolute;
	top: 92%;
	left: 60%;
	padding-right: 20px;
	li{	
		display: inline-block;
		text-shadow: -6px 6px 7px #999;
		-webkit-text-shadow: -6px 6px 7px #999;
  		-moz-text-shadow: -6px 6px 7px #999;
	}
}


/* buttom */

.btn-ttc:hover {
  background-position: 0 -15px;
}

/*min*/
.active {
	color: #BF9575 !important; 
}
.btn-sample{ 
  color: #000; 
  background-color: #BF9575; 
  border-color: #D62F59; 
  margin-bottom: 25px;
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #000; 
  background-color: #E0BB9F; 
  border-color: #D62F59; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #BF9575; 
  border-color: #D62F59; 
} 
 
.btn-sample .badge { 
  color: #BF9575; 
  background-color: #C1E8E3; 
}


.footer {
    width:400px; /*Le establecemos un ancho*/
	margin:0 auto; /*Centramos automaticamente*/
}
 
.footer > li {
	float:left;
}
            
.footer li a {
	color:#000;
	text-decoration:none;
	padding:2px 10px;
	margin-right: 70px;
	display:block;
}
            
.footer li ul {
	display:none;
	position:absolute;
	min-width:140px;
	text-align: right;
}
            
.footer li:hover > ul {
	display:block;
}
            
.footer li ul li {
	
}
            
.footer li ul li ul {
	right:-160px;
	top:-30px;

}

.fondo{
	color: #000 !important;
	border: 2px solid;
	background-color: #DED5D5;
	opacity:0.79;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	position:relative;
	top:-164px;
	right: 40px;
	margin-right: 10px;
	padding-left: 10px;
	li {
		text-aling: right;
	}
}
