<p>Hola <%= @resource.email %>!</p>

<p>Alguien requirio un link para cambiar su contrase침a. Usted pude hacerlo a traves del link de abajo.</p>

<p><%= link_to 'Cambiar contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>SI usted no requirio este link, por favor ignore este email.</p>
<p>Su contrase침a no cambiar치 hasta que no acceda a traves del link de arriba y cree una nueva.</p>
