<div class="footer">
  <ul>
  <% if user_signed_in?%>
    <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, :method => :delete %></li>
    <li><%= link_to 'Creacion de paginas', paginas_path %></li>
    <li><%= link_to 'Ver mensajes', contactos_path %></li>  
  <%end%>
  </ul>
</div>
